---

before_script:
  - source "$(ccc_home -u mpc)/gitlab-runner/spack_organizer_inti/setup.sh"
  - spack env activate mpc-runner-deps
  - export PATH=$PATH:"$(ccc_home -u mpc)/mpc_pre_commit/bin"
  # - pip3 install '.[dev]'

variables:
  GIT_CLEAN_FLAGS: -fddx -e .coverage

.scope: &scope
  only:
    - master
    - devel
    - merge_requests
    - web

stages:
#  - Installation
  - PCVS
  - Documentation
  - Deploy

# pcvs is installed for testing via tox, no need to install it.
#Install PCVS:
#    <<: *scope
#    stage: Installation
#    script:
#    - pip install '.[dev]'
#    - pcvs --version

Coverage PCVS:
  <<: *scope
  stage: PCVS
  script:
    # TODO: when tox is fixed on inti (tox>=4.21) use tox instead of duplicating test
    #- tox -e pcvs-coverage
    - module load mpi
    - coverage erase
    - coverage run --source=./pcvs -m pytest ./tests/pcvs
    - coverage report --precision=2 --fail-under=50 --sort=-miss

Lint PCVS:
  <<: *scope
  stage: PCVS
  script:
    # TODO: when tox is fixed on inti (tox>=4.21) use tox instead of duplicating test
    #- tox -e pcvs-lint
    - cd ${CI_PROJECT_DIR}
    - intify_pre_commit.sh .pre-commit-config.yaml
    - git add .pre-commit-config.yaml
    - spack load py-ruamel-yaml
    - git config --global --add safe.directory "$(ccc_home -u mpc)/mpc_pre_commit/pre_commit_hooks/pre-commit-hooks/.git"
    - pre-commit install --install-hooks
    - pre-commit run --all-files
    # TODO: fix mypy test when running in a tox env with installed pcvs
    # - mypy --config-file ./mypy.ini ./pcvs

Build Doc:
  <<: *scope
  stage: Documentation
  script:
    # TODO: when tox is fixed on inti (tox>=4.21) use tox instead of duplicating test
    #- tox -e doc
    - cd docs
    - make clean && make html

Lint Doc:
  <<: *scope
  # TODO: when tox is fixed on inti (tox>=4.21) use tox instead of duplicating test
  stage: Documentation
  allow_failure: true
  script:
    #- tox -e doc-lint
    # TODO: install darglint on inti with spack organizer
    # - darglint --verbosity=2 docs pcvs tests
    - pydocstyle pcvs/

Test Doc:
  <<: *scope
  # TODO: when tox is fixed on inti (tox>=4.21) use tox instead of duplicating test
  stage: Documentation
  allow_failure: true
  script:
    #- tox -e doc-coverage
    # TODO: install docstr-coverage on inti with spack organizer
    - docstr-coverage --skip-file-doc --exclude '.*pcvs/cli/cli.*.py' --accept-empty --verbose=2 pcvs --fail-under 70

Deploy Doc:
  only:
    - devel
  pages: true
  stage: Deploy
  script:
    - cd docs && make html
  after_script:
    - mv docs/build/html/ ./public/
  artifacts:
    paths:
      - public
