name: "Doc: Render sphinx"

on: push

jobs:
  doc:
    name: "Build Documentation"
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false
    - name: "Build HTML"
      uses: ammaraskar/sphinx-action@8.2.3
    - name: "Upload artifacts"
      uses: actions/upload-artifact@v4
      with:
        name: html-docs
        path: docs/build/html/
    - name: "Deploy documentation"
      uses: peaceiris/actions-gh-pages@v3
      if: github.ref == 'refs/heads/master'
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: docs/build/html
